@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Mrs+Saint+Delafield&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------colors

#fafafa; white
#576fa3; lt blue
#151e31; dk blue
#0d0f13; black
#93969b; grey
*/

body {
    background: rgba(0, 0, 0, 0.2)
}
nav {
    background: linear-gradient(-60deg, #151e31, #050a13);
}
.logo, label, .nav-links li a {
    color: #fafafa;
}
.nav-links {
    background: #0d0f13;
}
.nav-links li a:hover {
    color: #576fa3;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.nav-links li a.active {
    color: #576fa3;
}
.about-me-text-box {
    background: #fafafa;
}
.about-me-text {
    color: #0d0f13;
}
.about-me-social-links .fab {
    color: #0d0f13;
}
.about-me-social-links .fab:hover {
    color: #576fa3;
    cursor: pointer;
}
.slider-text h4 {
    color: #0d0f13;
}
.btn {
    background: #151e31;
    border: none;
}
.btn:hover {
    background: #576fa3;
}
.customer-review-text {
    color: #0d0f13;
}
.customer-review-stars {
    color: #151e31;
}
footer {
    color: #fafafa;
    background: rgba(0, 0, 0, 0.5);
}
.sapphire .front-card {
    background-image: linear-gradient(170deg, #151e31 25%, rgba(85, 158, 180, 0.7) 80%, rgba(85, 158, 180, 0.7) 10%), url(/assets/images/weddingphoto20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
}
.ruby .front-card {
    background-image: linear-gradient(170deg, #2b0012 25%, rgba(69, 28, 44, 0.7) 80%, rgba(69, 28, 44, 0.7) 10%), url(/assets/images/weddingphoto21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
    
}
.diamond .front-card {
    background-image: linear-gradient(170deg, #3f8499 25%, rgba(85, 158, 180, 0.7) 80%, rgba(85, 158, 180, 0.7) 10%), url(/assets/images/weddingphoto22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
}
.sapphire .back-card{
    background: #738e9c;
    color: #fafafa;
}
.ruby .back-card{
    background: #461c2d;
    color: #fafafa;
}
.diamond .back-card{
    background: #7da2ac;
    color: #fafafa;
}
.contact {
    background: #fafafa;
}
.back-card .index-button:hover{
    background: #fafafa;
    color: #0d0f13;
}
.back-card .button:hover{
    background: #fafafa;
    color: #0d0f13;
}
.modal-close .fa-times{
    background: #fafafa;
    color: #0d0f13;
    border: 2px #0d0f13 solid;
}
.modal-close .fa-times:hover{
    background: #0d0f13;
    color: #fafafa;
    border: 2px #fafafa solid;
}

/*---------------------------------------------------reusable*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
    font-weight: 300;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 140%;
}
.uppercase {
    text-transform: uppercase;
}
.break {
    width: 10%;
    color: #576fa3;
    border: 2px solid #576fa3;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title-header {
    margin: 100px auto 50px auto;
    width: 75%;
}

/*---------------------------------------------------header*/

.mobile-hero {
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.desktop-hero {
    position: relative;
    width: 100%;
    display: none;
}

/*---------------------navbar*/

nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Jost", sans-serif;
    height: 100px;
}
.logo {
    margin-left: 50px;
    margin-top: 5px;
    padding: 15px 0;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    animation: fadein 2s;
}
.logo-part-1 {
    display: block;
    position: absolute;
    left: 60px;
    font-family: "mrs saint delafield", sans-serif;
    font-size: 32px;
}
.logo-part-2 {
    display: block;
    position: absolute;
    top: 50px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #151e31;
}
.nav-links {
    display: block;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100vh;
    right: -100%;
    padding: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}
.nav-links li {
    display: block;
    line-height: 80px;
    text-align: center;
    margin-top: 50px;
    
}
li a {
    list-style: none;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
    animation: fadein 2s;
}

/*------------burger toggle*/

label #btn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 30px;
    float: right;
    line-height: 100px;
    cursor: pointer;
    display: block;
}
label #cancel {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 30px;
    float: right;
    line-height: 100px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
#check:checked ~ .nav-links {
    right: 0;
}
#check:checked ~ label #btn {
    display: none;
}
#check:checked ~ label #cancel {
    display: block;
}

/*---------------------------------------------------about me*/

.about-me {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.about-me-image {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 2px 2px 5px #0d0f13;
    margin-bottom: 25px;
}
.about-me-text-box {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #0d0f13;
}
.about-me-text {
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
.about-me-text h2 {
    margin-bottom: 25px;
}
.about-me-text p {
    margin-bottom: 25px;
}
.follow-me {
    display: block;
    text-align: center;
}
.about-me-social-links {
    height: 50px;
    text-align: center;
}
.about-me-social-links .fab {
    line-height: 50px;
    padding: 0 20px;
    font-size: 28px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/*---------------------------------------------------image carousel*/

.slider-text {
    text-align: center;
    height: 100px;
    padding: 0;
}
.slider-text h4 {
    font-family: "mrs saint delafield", sans-serif;
    font-size: 28px;
    line-height: 100px;
    text-align: center;
    margin: 0;
}
#slider {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}
#slider div {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}
#slider div img {
    width: 20%;
    float: left;
}
.btn {
    margin: 20px;
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
}

/*---------------------------------------------------customer reviews*/

.customer-review-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: -50px auto 50px;
}
.customer-review {
    width: 100%;
    margin: 100px 0;
}
.customer-review-image {
    display: block;
}
.customer-review img {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto 25px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
}
.customer-review-text {
    display: block;
    margin: 0 auto;
    width: 75%;
}
.customer-frase {
    margin: 20px 0;
}
.customer-review-paragraph p {
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

/*---------------------------------------------------footer*/

footer {
    height: 180px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.phone {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.email {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.copyright {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/*---------------------------------------------------------------------------packages*/

.package-container{
    position: relative;
    width:240px;
    height: 380px;
    transition: fadein 2s;
    -webkit-transition: fadein 2s;
    -moz-transition: fadein 2s;
    -o-transition: fadein 2s;
    margin: 50px auto;
}
.fullcard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
}
.fullcard:hover{
    transform: rotateY(180deg);
    cursor: pointer;
}
.front-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 10px #0d0f13;
}
.back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #0d0f13;
    transform: rotateY(180deg);
}
.card-title{
    display: block;
    float: left;
    padding: 20px 0 0 20px
}
.package-price{
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: space-around;
   margin-top: 150px;
}
.front-card h6{
    width: 80px;
    position: absolute;
    bottom:20px;
    left: 80px;
    border: #fafafa 2px solid;
    padding: 5px;
    border-radius: 10px;
}
.package-discription ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-top: 25px;
}
.back-card .index-button{
    display: inline;
    position: absolute;
    bottom:28px;
    left: 75px;
    border: #fafafa 2px solid;
    padding: 2px 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #fafafa;
}
.back-card .button{
    width: 80px;
    position: absolute;
    bottom:28px;
    left: 80px;
    border: #fafafa 2px solid;
    padding: 2px 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #fafafa;
}
.back-card ul li{
    text-align: left;
}
.package-add-info{
    width:75%;
    text-align: center;
    margin: 0 auto;
}

/*---------------------------------------------------------------------------gallery*/

.gallery {
    background: #fafafa;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding: 1rem;
    padding-bottom: 100px;
    animation: fadein 2s;
}
.box {
    display: block;
}
.box img {
    width: 100%;
    overflow: hidden;
    transition:all 0.5s;
}
.box img:hover{
    filter: brightness(25%);
    cursor: pointer;
}
.modal-container{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .9);
    width:100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
}

.modal-image img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
.modal-close .fa-times{
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 30px;
    transition: all 0.5s;
}
.modal-close .fal{
    font-size: 20px;
    padding: 5.5px 0 0 9px;
    }
.modal-container:target{
    visibility: visible;
    opacity: 1;
}
.modal-container .modal-close:target{
    visibility: hidden;
    opacity: 0;
}

/*---------------------------------------------------contact*/

.contact {
    padding: 0;
    margin: 100px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px #050a13;
}
.contact-title {
    padding: 25px;
    width: 90%;
    margin-bottom: 25px;
}
.contact-title h2 {
    margin-bottom: 25px;
}
.contact-info {
    padding: 25px;
    width: 90%;
}
.contact-info h4 {
    margin-bottom: 25px;
}
.contact-info-phone {
    margin-bottom: 50px;
}
.contact-info-email .desktop-email {
    display: none;
}

/*-----------------------------------------keyframes*/

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------responsive----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px) {

/*---------------------------------------------------responsive 600 header*/

    .mobile-hero {
        display: none;
    }
    .desktop-hero {
        display: block;
        margin-top: 100px;
    }

    /*---------------------------------------------------responsive 600 about me*/

    .about-me-image {
        width: 40%;
    }

    /*---------------------------------------------------responsive 600 image slider*/
    #slider {
        margin: 50px auto;
    }

    /*---------------------------------------------------responsive 600 customer review*/

    .customer-review {
        display: flex;
        flex-direction: row;
    }
    .customer-review-image {
        width: 20%;
        margin-left: 50px;
    }
    .customer-review img {
        position: relative;
        width: 100%;
    }
    .customer-review-text {
        width: 60%;
    }
    .customer-review-stars {
        font-size: 20px;
    }

/*---------------------------------------------------responsive 600 gallery*/

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    .modal-image img{
    height: 75%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    }
}
@media only screen and (min-width: 1025px) {

/*---------------------------------------------------responsive 1025 navbar*/

    .desktop-hero {
        margin-top: 0;
    }
    label {
        display: none;
    }
    .nav-links {
        padding: 0;
        margin: 0;
        display: flex;
        width: 50%;
        height: 100px;
        top: 0;
        right: 0;
        float: right;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0)
    }
    .nav-links li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        right: 0;
        line-height: 100px;
    }
    /*---------------------------------------------------responsive 1025 about me*/

    .about-me-image {
        display: inline-block;
        width: 25%;
    }
    .about-me-text-box {
        display: inline-block;
        height: 100%;
        width: 50%;
        padding: 20px;
        vertical-align: middle;
        margin: 0 0 0 10%;
    }
    /*---------------------------------------------------responsive 1025 image slider*/

    .slider-text h4 {
        font-size: 40px;
    }
    #slider {
        width: 60%;
    }
    /*---------------------------------------------------responsive 1025 customer review*/

    .customer-review-box {
        display: flex;
        flex-direction: row;
    }
    .customer-review {
        flex-direction: column;
        width: 33%;
        padding: 0 20px;
    }
    .customer-review-image {
        width: 50%;
        margin: 0 auto;
    }
    .customer-review-text {
        width: 90%;
    }
    /*---------------------------------------------------responsive 1025 footer*/

    footer {
        height: 100px;
        flex-direction: row;
        justify-content: space-around;
    }
    .phone {
        width: 30%;
        line-height: 100px;
    }
    .email {
        width: 30%;
        line-height: 100px;
    }
    .copyright {
        width: 30%;
        line-height: 100px;
    }
    /*---------------------------------------------------responsive 1025 packages*/
    
    .title-header {
        margin: 100px 0 50px 50px;
    }
    .title-header p {
        width: 50%;
    }
    .package-discription {
        width: 200px;
        height: 200px;
    }
    .all-packages {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: 0 auto 50px;
    }
    .package-add-info {
        width: 50%;
    }
    /*------------------------------------------responsive 1025 contact*/

    .contact {
        flex-direction: row;
        margin-bottom: 300px;
    }
    .contact-title {
        width: 50%;
    }
    .contact-info {
        width: 50%;
    }
    .contact-info-email .mobile-email {
        display: none;
    }
    .contact-info-email .desktop-email {
        display: block;
    }
}