@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Mrs+Saint+Delafield&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------colors*/
/*
#fafafa; white
#576fa3; lt blue
#151e31; dk blue
#0d0f13; black
#93969b; grey
*/

nav{
    background-color: #151e31;
}

.logo, label, .nav-links li a{
    color: #fafafa;
}

.nav-links{
    background: #0d0f13;
}

.nav-links li a:hover{
    color: #576fa3;
    text-decoration: none;
}

.nav-links li a.active{
    color: #576fa3;
}

.about-me-text{
    color: #0d0f13;
}


/*---------------------------------------------------reusable*/

.uppercase{
    text-transform: uppercase;
}

.break{
    width: 30%;
    color: #151e31;
    border: 2px solid #151e31;
   margin-top:50px;
   margin-bottom: 50px;

}




/*---------------------------------------------------buttons*/

/*------------burger toggle*/

label #btn{
    position: absolute;
    top: 0;
    right:50px;
    font-size: 30px;
    float: right;
    line-height: 100px;
    cursor: pointer;
    display: block;
}

label #cancel{
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 30px;
    float: right;
    line-height: 100px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ .nav-links{
    right: 0;
}

#check:checked ~ label #btn{
    display: none;
}

#check:checked ~ label #cancel{
    display: block;
}

/*---------------------------------------------------header*/

.mobile-hero{
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.desktop-hero{
    position: relative;
    width: 100%;
    display: none;
}

/*---------------------navbar*/

nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Jost", sans-serif;
    height: 100px;  
}

.logo{
    margin-left: 50px;
    padding: 15px 0;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
}

.logo-part-1{
    display: block;
    position: absolute;
    left: 60px;
    font-family: "mrs saint delafield", sans-serif;
    font-size: 32px; 
}

.logo-part-2{
    display:block;
    position: absolute;
    top: 45px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #151e31;
}

.nav-links{
    display: block;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100vh;
    right: -100%;
    padding: 0;
    transition: all .5s;
}

.nav-links li{

    display: block;
    line-height: 80px;
    text-align: center;
    margin-top:50px; 
    
}

 li a{
    list-style: none;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
    
}

/*---------------------------------------------------about me*/

.about-me{
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
}

.about-me-image{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 2px 2px 5px;
    margin-bottom: 25px;
}
.about-me-text-box{
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

.about-me-text{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    
}

.about-me-text h2{
    margin-bottom: 10px;
}

.about-me-text p{
    font-size: 18px;
    line-height: 140%;
}

/*---------------------------------------------------image slider*/


/*---------------------------------------------------customer reviews*/


/*---------------------------------------------------footer*/


/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------responsive----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1025px){

/*---------------------------------------------------responsive navbar*/
.mobile-hero{
    display: none;    
}
.desktop-hero{
    display: block;
}

label{
    display:none;
}

.nav-links{
    padding: 0;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100px;
    top: 0;
    right: 0;
    float: right;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0)
}

.nav-links li{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    right: 0;
}

/*---------------------------------------------------responsive about me*/

.about-me{
    width: 100%;
    position: relative;
    margin-top:50px;
    height: 250px;
}

.about-me-image{
    margin: 0 auto;
    height: 100%;
    width: auto;
    display: inline-block;
}

.about-me-text-box{
    position: relative;
    float:right;
    width: 70%;
    text-align: left;
    margin: 0 auto;
    padding-right: 100px;
    line-height: 280px;
}

.about-me-text p{
    font-size: 20px;
    line-height: 140%;
}

}

